* {
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

/* TYPOGRAPHY */
@font-face {
  font-family: "MilluniumMD";
  src: url("../fonts/Millunium Medium/Millunium-Medium.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Millunium Medium/Millunium-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Millunium Medium/Millunium-Medium.woff") format("woff"), url("../fonts/Millunium Medium/Millunium-Medium.ttf") format("truetype"), url("../fonts/Millunium Medium/Millunium-Medium.svg#svgFontName") format("svg");
  /* Legacy iOS */
}

@font-face {
  font-family: "Raleway-Regular";
  src: url("../fonts/Raleway/Raleway-Regular.ttf");
}

h1, h2, h3, h4, h5 {
  font-family: "MilluniumMD", serif;
}

p, a, button, input, blockquote {
  font-family: "Raleway-Regular", sans-serif;
}

h1 {
  font-size: 64px;
  line-height: 64px;
}

h2 {
  font-size: 48px;
  line-height: 56px;
}

h3 {
  font-size: 32px;
  line-height: 38px;
}

h4 {
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

h5 {
  font-size: 16px;
  line-height: 18px;
}

p, blockquote {
  font-size: 15px;
  line-height: 24px;
}

button {
  font-size: 16px;
  line-height: 19px;
}

/* SECTION - home */
#home {
  background-image: url("../img/pp-main-background.jpg");
  background-size: cover;
  color: white;
}

#home nav {
  padding: 20px;
}

#home ul {
  list-style-type: none;
  position: fixed;
  top: 20px;
  right: 0px;
}

#home ul li {
  display: inline-block;
  padding: 10px;
}

#home ul li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

#home #lead {
  margin: 0 auto;
  padding-top: 160px;
  padding-bottom: 100px;
  text-align: center;
}

#home #lead h1 {
  padding: 20px 0px;
  margin: 0 auto;
}

#home #lead p {
  width: 600px;
  margin: 0 auto;
}

#home #lead button {
  margin: 60px 0;
  width: 320px;
  height: 45px;
  font-weight: bold;
  color: white;
  background-color: #3fae49;
  border: 0px;
}

#home #lead #arrow {
  width: 25px;
  height: 25px;
  border: 1px solid white;
  border-radius: 50%;
  padding: 15px;
  font-family: "MilluniumMD";
  margin: 0 auto;
}

/* SECTION - ABOUT */
#about {
  background-color: whitesmoke;
  z-index: -20;
}

#about .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#about #aboutleft {
  width: 50%;
  z-index: 30;
  margin-top: 90px;
  margin-bottom: -10px;
}

#about #aboutleft #info {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 50px;
  background-color: white;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3);
          box-shadow: rgba(0, 0, 0, 0.3);
}

#about #aboutleft #info h4 {
  color: #999999;
  text-transform: uppercase;
}

#about #aboutleft #stats {
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 80%;
  padding: 50px;
  background-color: #3fae49;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#about #aboutleft #stats h4 {
  width: 360px;
  text-align: center;
  padding-bottom: 20px;
}

#about #aboutleft #stats .stat {
  width: 120px;
  text-align: center;
}

#about button {
  color: white;
  font-weight: bold;
  background-color: #3fae49;
  margin-top: 20px;
  padding: 20px;
  height: 50px;
  width: 300px;
  border: 0px;
}

#about #aboutright {
  width: 50%;
  z-index: 20;
}

#about #aboutright img {
  width: 110%;
  margin-left: -10%;
  margin-top: 170px;
}

/* SECTION AWARDS */
#awards {
  padding-top: 100px;
  padding-bottom: 90px;
  text-align: center;
}

#awards h4 {
  color: #999999;
}

#awards h3 {
  width: 400px;
  margin: 0 auto;
}

#awards #awards-elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 50px;
}

#awards #awards-elements .award-item {
  width: 160px;
}

#awards #awards-elements .award-item .award-icon {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#awards #awards-elements .award-item h2 {
  color: #999999;
}

#awards #awards-elements .award-item .green {
  color: #3fae49;
}

/* SECTION HOWTO */
#howto {
  background-color: whitesmoke;
}

#howto .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#howto #howleft {
  width: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 50px;
  background-color: white;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  z-index: 20;
  margin-top: 100px;
  margin-bottom: 150px;
}

#howto #howleft h4 {
  color: #999999;
  padding-bottom: 20px;
}

#howto #howleft button {
  color: white;
  font-weight: bold;
  background-color: #3fae49;
  padding: 20px;
  height: 50px;
  width: 300px;
  margin-top: 20px;
  border: 0px;
}

#howto #howright {
  color: white;
  width: 55%;
  height: auto;
  margin-bottom: 100px;
  margin-left: -5%;
  margin-top: 170px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 50px;
  background-color: #3fae49;
}

#howto #howright blockquote {
  padding-left: 90px;
  display: block;
}

#howto #howright #person {
  padding-left: 90px;
  padding-top: 30px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#howto #howright #person img {
  width: 65px;
  border-radius: 50%;
  background-color: white;
  float: left;
  z-index: 10;
}

#howto #howright #person #personabout {
  float: left;
  padding: 20px;
}

/* SECTION CONTACT */
#contact .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#contact #contact-img {
  width: 50%;
  margin-top: 100px;
  margin-bottom: 100px;
}

#contact img {
  width: 100%;
  display: block;
}

#contact #contact-form {
  width: 50%;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#contact #contact-form h4 {
  color: #999999;
  padding-bottom: 20px;
}

#contact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#contact .input-top {
  width: 45%;
  height: 40px;
  margin: 5px;
  border: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 1px solid #999999;
}

#contact textarea {
  width: 100%;
  height: 70px;
  background-color: whitesmoke;
  margin: 25px 0px;
  padding: 20px 0px;
  color: #999999;
  font-family: "Raleway-Regular";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#contact .input-submit {
  color: white;
  font-weight: bold;
  background-color: #3fae49;
  padding: 20px;
  height: 50px;
  width: 300px;
  border: 0px;
}

/* SECTION FOOTER */
footer {
  color: white;
  text-align: center;
  padding: 40px;
  background-color: #1e3066;
}

/* HAMBURGER */
/* HAMBURGER MENU */
.d-none {
  display: none;
}

.d-block {
  display: block;
}

.p-sticky {
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 50;
  width: 100%;
  padding-left: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: green;
  height: 70px;
  background-color: #1e3066;
}

.menu-icon {
  position: absolute;
  top: 10px;
  right: 10px;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  display: none;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

/* MEDIA QUERIES - small desktop */
/* MAX WIDTH 1200 */
@media only screen and (max-width: 1200px) {
  .container {
    width: 100%;
  }
  #about .container {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */